<!DOCTYPE html>
<html>
    <head>
        <title>RedDesk</title>
        <!-- Insert this line above script imports  -->
        <script>
            if (typeof module === 'object') {window.module = module; module = undefined;}
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--JQuery-->
        <script src="js/jquery-3.4.1.min.js"></script>

        <!--Angular.js-->
        <!-- <script src="js/angular.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

        <!--BootStrap-->
        <link id="mainStyle" rel="stylesheet" href="css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--Bootstrap Dashboard-->
        <link rel="stylesheet" href="css/dashboard.css">

        <!--Font Awesome-->
        <script src="https://kit.fontawesome.com/c0fad50d4f.js"></script>

        <!--Theme Switcher-->
        <script src="js/themeswitcher.js"></script>

        <!--Posts-->
        <script src="js/posts.js"></script>

        <!--Animations-->
        <link rel="stylesheet" href="css/animations.css">
    </head>
    <body class="bg-dark"  ng-app="RedDesk" ng-controller="reddesk_ctrl" ng-init="getPosts()">
        <header class="navbar navbar-dark fixed-top bg-primary flex-md-nowrap p-0 shadow text-light">
            <h4 class="p-2 m-0"><i class="text-dark fas fa-desktop mr-2"></i>RedDesk</h4>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-auto d-none d-block sidebar bg-secondary text-light">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column justify-content-between px-3 ml-2 mb-1">
                            <li class="nav-item"><h6><i class="fas fa-home mr-2"></i><span>Home</span></h6></li>
                            <li class="nav-item"><h6><i class="fas fa-chart-line mr-2"></i><span>Popular</span></h6></li>
                            <li class="nav-item"><h6><i class="fas fa-signal mr-2"></i><span>All</span></h6></li>
                            <li class="nav-item"><h6><i class="fas fa-star mr-2"></i><span>Saved</span></h6></li>
                            <li class="nav-item"><h6><i class="fas fa-search mr-2"></i><span>Search</span></h6></li>
                            <hr>
                            <li class="nav-item"><h6><i class="fas fa-user mr-2"></i><span>Profile</span></h6></li>
                            <li class="nav-item"><h6><i class="fas fa-envelope mr-2"></i><span>Inbox</span></h6></li>
                            <li class="nav-item"><h6><i class="fas fa-cog mr-2"></i><span>Settings</span></h6></li>
                        </ul>
                    </div>
                </div>
                <!--TODO: Make popup version-->
                <main role="main" class="col-md-10" ng-init="onBottom()">
                    <div id="{{post.kind}}_{{post.data.id}}" ng-click="openPost(post.kind + '_' + post.data.id)" class="card text-light bg-secondary mb-2 scale-up-hor-left p-2" ng-repeat="post in posts">
                        <div class="card-body media p-0">
                            <div ng-hide="post.data.thumbnail == 'self' || post.data.thumbnail == 'nsfw' || post.data.thumbnail == 'default'" class="img-thumbnail align-self-center mr-2" style="background-image: url({{post.data.thumbnail}})"></div>
                            <!-- <img onerror="imgError(this)" ng-src="{{post.data.url}}" class="img-thumbnail align-self-center mr-2"> -->
                            <div class="media-body">
                                <h6>{{post.data.title}}</h6>
                                <p class="card-text">{{post.data.selftext}}</p>
                                <p class="card-text p-0 nav-link disabled">{{post.data.author}}@{{post.data.subreddit_name_prefixed}}</p>
                            </div>
                        </div>
                        <div class="card-footer pb-0 pl-0">
                            <i class="upvote fas fa-arrow-alt-circle-up fa-lg mr-2"></i>
                            <i class="downvote fas fa-arrow-alt-circle-down fa-lg mr-2"></i>
                            <i class="save fas fa-star fa-lg mr-2"></i>
                            <i class="fas fa-comment fa-lg mr-2"></i>
                            <i class="fas fa-share-alt fa-lg mr-2"></i>
                            <i class="fas fa-check fa-lg mr-2"></i>
                        </div>
                    </div>
                    
                    <!-- <div class="card mb-2" ng-repeat="post in posts">
                        <div class="card-header">
                            <h6 class="card-title m-0 text-primary">{{post.data.title}}</h6>
                            <p class="card-text m-0">{{post.data.selftext}}</p>
                        </div>
                        <div class="card-body">
                            <img src="{{post.data.url}}" class="card-img-top img-thumbnail" alt="{{post.data.imagename}}">
                        </div>
                        <div class="card-footer">
                            <i class="upvote fas fa-arrow-alt-circle-up fa-2x mr-2"></i>
                            <i class="downvote fas fa-arrow-alt-circle-down fa-2x mr-2"></i>
                            <i class="save fas fa-star fa-2x mr-2"></i>
                            <i class="fas fa-comment fa-2x mr-2"></i>
                            <i class="fas fa-share-alt fa-2x mr-2"></i>
                            <i class="fas fa-check fa-2x mr-2"></i>
                        </div>
                    </div> -->
                </main>
            </div>
        </div>
    </body>
</html>